*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #1A0B2E;
}
/* hide checkbox */
#menu-toggle {
  display: none;
}

/* hamburger hidden on desktop */
.hamburger {
  display: none;
  cursor: pointer;
}

.hamburger img {
  width: 24px;
  height: 24px;
}
.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

/* nav related style */
.nav-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: #412567; */
    padding: 16px 5%;
}

.menu {
    display: flex;
    gap: 32px;
    
}

.menu a {
    text-decoration: none;
    color: white;
}
.logo {
    font-size:clamp(1.8rem,4vw,3rem);
    color: white;
    font-weight: 700;
}

.wave {
   background: linear-gradient(to right, #ff2bdc, #7a5cff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.btn {
 background: var(--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1)));

  color: #ffffff;
  border: none;
  padding: 14px 28px;
  border-radius: 999px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;

  display: inline-flex;
  align-items: center;
  gap: 10px;
}

.nav-divider {
    height: 1px;
    background: rgba(255, 255, 255, 0.15);;
}

  /* Hero section related style */
  .hero {
    background-image: url(./hero-bg.png);
    background-size:cover ;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 80px;
    width:100%;
    height: 860px; 

  }
  .hero-content {
    padding: 0px 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 16px;
    padding-bottom: 100px;
  }
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes badge {
  from {
    transform: rotate(-5deg);
  }
  to {
    transform: rotate(5deg);
  }
}



.hero-image {
  width: 422px;
 animation: spin 2s linear infinite;
}


  .badge {
     position: relative;
     top: -350px;
     right:-180px;
     background: #00FF88;
     padding: 10px 20px;
     border: none;
     border-radius: 30px;
      animation: badge 0.2s linear infinite;
  }
.microphone {
    position: relative;
    top: -380px;
}
 .hero-title {
    font-size: 60px;
    font-weight: 900;
    color: #ffffff;
    margin-top: 40px;
    position: relative;
    top: -250px;
 }
.hero-description {
    font-size: 16px;
    color: #ffffff9f;
    font-weight: 400;
    margin-top: 8px;
    position: relative;
    top: -250px;
}
.hero-btn {
  background: var(--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1)));
  color: #ffffff;
  border: none;
  padding: 14px 28px;
  border-radius: 999px;
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  gap: 10px;
  margin-right: 10px;
}
.hero-btn-two {
    background-color: rgba(255, 255, 255, 0);
    color: #00FF88;
    padding:12px 28px ;
    gap: 8px;
    border-radius: 999px;
    display: inline-flex;
    align-items: center;
    border: 1px solid #00FF88;
    font-size: 16px;
}
.hero-button {
    display: flex;
    margin-top: 24px;
    position: relative;
    top: -260px;
}


/* about section   */

.about {
    background-color: #1A0B2E;
    padding-top: 5%;
    
}
.about-info {
    text-align: center;
    position: relative;
    top: -200px;
}
.about-info h3 {
    color: #FFFFFF;
    font-size: 3rem;
    font-weight: 700;
    margin-top: 10%;
}
.about-info p,.about-info span  {
    color: #ffffff;
    opacity: 80%;
    font-size: 1rem;
    font-weight: 400;
}
.divider {
    margin-left: 15%;
    margin-top: 5%;
    height: 1px;
    background: rgba(255, 255, 255, 0.15);;
    width: 70%;
    position: relative;
    top: -150px;
}
.rating-container {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 12%;
    padding: 2% 0;
    padding-bottom: 2%;
    position: relative;
    top: -100px;
}

.about-rating {
    color: #00FF88;
}
.about-rating h4 {
    font-size:3rem;
    font-weight: 900;
}
.rating-description {
    font-size:1rem;
    font-weight: 400;
    opacity: 80%;
    color: #FFFFFF;
}

/* tech related style */
.tech {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #230E3D;
    margin-top: 0;
}
.tech-title {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 40px;
    color: #FFFFFF;
    padding-top: 2%;
}

.design {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
    padding: 40px;
    background-color: #351165;
    border: none;
    border-radius: 40px;
    gap: 16px;
    padding: 40px;
    width: 100%;
}

.design h3 {
    font-size: 24px;
    font-weight: 700;
    color: #FFFFFF;
    margin-top: 16px;
    margin-bottom: 16px;
}

.design p {
    font-size: 16px;
    font-weight: 400;
    color: white;
    opacity: 60%;
    margin-bottom: ;
}

.audio {
    grid-area: audio;
}
.mobile{
    grid-area: mobile;
}
.global {
    grid-area: global;
}
.exclusive{
    grid-area: exclusive;
}
.rich {
    grid-area: rich;
}

.tech-container {
  display: grid;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  gap: 24px;
  padding-bottom: 2%;
  grid-template-areas: 
    "audio audio mobile mobile mobile mobile"
    "audio audio mobile mobile mobile mobile"
    "audio audio global global global global"
    "audio audio global global global global"
    "exclusive exclusive exclusive exclusive rich rich"
    "exclusive exclusive exclusive exclusive rich rich";
}





/* FEATURED SECTION RELATED STYLE */
.feature-host{
    background-color: #1A0B2E;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.feature {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:30px ;
    align-items: center;
    justify-content: center;
}

.feature-title {
    color: white;
    font-size: 3rem;
    padding: 5% 0px;                                                 ;
}
.card {
  display: flex;
  flex-direction: column;
  background: #250D44;
  color: white;
  width: 320px ;
  /* height: 440px; */
  border-radius: 20px;
  font-family: Arial, sans-serif;
  border-radius: 20px;

}
iframe {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    
}
.card h3 {
font-size: 24px;
 font-weight: 700;
 margin-top: 20px;
 margin-bottom: 2%;
 padding-left: 10px;
}
.card p {
  font-size: 16px;
  opacity: 80%;
  margin-bottom: 5%;
  padding-left: 10px;
}

.time {
    display:flex;
    align-items: center;
    gap: 10px;
    padding-left: 10px;
    padding-bottom: 25%;
}



/* HOST RELATED STYLE */

.host-title {
    font-size: 3rem;
    font-weight: 700;
    color: #FFFFFF;
    margin-top: 5%;
    margin-bottom: 5%;
}

.host {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    background-color: #351165;
    padding: 40px;
    border: none;
    border-radius: 70px;
    color: white;
}

.host-name {
    font-size:2rem;
}
.h-p{
    font-size: 16px;
    opacity: 60%;
    margin: 2% 0;
}

.host-logo {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

.social-circle {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 2px solid rgba(255, 255, 255, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s ease;
}

.social-circle img {
    width: 28px;
    height: 28px;
}

/* Hover effect */
.social-circle:hover {
    border-color: #ff4ecd;
    box-shadow: 0 0 15px rgba(255, 78, 205, 0.6);
}


/* FOOTER RELATED STYLE */
.footer {
    background: url("./footer-bg.png") center/cover no-repeat;
    padding: 90px 20px;
    color: #fff;
    text-align: center;
    margin-top: 5%;
}

.footer-inner {
    max-width: 1200px;
    margin: 0 auto;
}

/* Logo */
.footer-logo {
    font-size: 6rem;
    font-weight: 700;
    margin-bottom: 18px;
    /* margin-top: 10%; */
}

.footer-logo span {
    color: #ff4ecd;
}

/* Platforms row */
.footer-platforms {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    margin-bottom: 18px;
}

/* Each icon + text */
.platform {
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: 16px;
    opacity: 0.85;
    cursor: pointer;
    transition: opacity 0.3s ease;
    position: relative;
    top: -27px;
}

.platform img {
    width: 24px;
    height: 24px;
}

.platform:hover {
    opacity: 1;
}

/* Copyright */
.footer-copy {
    font-size: 12px;
    opacity: 0.6;
}





/* Small Device */
@media  screen and (max-width:576px) {
    *{
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    /* Nav Section related style */
   .hamburger {
    display: block; 
  }

  .menu {
    display: none;
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    margin-top: 16px;
  }

  /* open menu when hamburger clicked */
  #menu-toggle:checked ~ .menu {
    display: flex;
  }

  .subscribe {
    display: none;
  }

  /* Hero section related style */
  .hero {
    background-image: url(./hero-bg.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center top;
    height: auto;
    width: 100%;

  }
  .hero-content {
    /* max-width: 100%; */
    padding: 70px 16px;
    /* display: flex;
    flex-direction: column; */
    align-items: center;
    text-align: center;
    gap: 16px;
  }
  .hero-image {
    position: relative;
    top: -125px;
    max-width: 100px;
    margin-top: 0px;

  }

  .microphone {
    position: relative;
    top: -270px;
    width: 40px;
  }
 .hero-title {
    font-size: 40px;
    font-weight: 900;
    color: #ffffff;
    margin-top: 24px;
 }
 .badge {
     position: relative;
     top: -220px;
     right:-50px;
     background: #00FF88;
     padding: 5px 8px;
     border: none;
     border-radius: 30px;
  }
.hero-description {
    font-size: 16px;
    color: #ffffff9f;
    font-weight: 400;
    margin-top: 8px;
}
.hero-btn {
  background: var(--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1)));
  color: #ffffff;
  border: none;
  padding: 14px 28px;
  border-radius: 999px;
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  gap: 10px;
  margin-right: 10px;
}
.hero-btn-two {
    background-color: rgba(255, 255, 255, 0);
    color: #00FF88;
    padding:12px 28px ;
    gap: 8px;
    border-radius: 999px;
    display: inline-flex;
    align-items: center;
    border: 1px solid #00FF88;
    font-size: 16px;
}
.hero-button {
    display: flex;
    margin-top: 24px;
}

/* About section related design  */

.about {
    background-color: #1A0B2E;
    padding-top: 2%;
}
.about-info {
    text-align: center;
}
.about-info h3 {
    color: #FFFFFF;
    font-size: 2rem;
    font-weight: 700;
}
.about-info p,.about-info span  {
    color: #ffffff;
    opacity: 80%;
    font-size: 1rem;
    font-weight: 400;
}
.divider {
    margin-left: 5%;
    margin-top: 2%;
    height: 1px;
    background: rgba(255, 255, 255, 0.15);;
    width: 90%;
}
.rating-container {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: center;
    text-align: center;
    gap: 12%;
    margin: 0% 0;
    padding-bottom: 10%;

}

.about-rating {
    color: #00FF88;
}
.about-rating h4 {
    font-size:3rem;
    font-weight: 900;
}
.rating-description {
    font-size:1rem;
    font-weight: 400;
    opacity: 80%;
    color: #FFFFFF;
}

.broke {
    display: none;
}

/* tech related style */
.tech-title{
    font-size: 32px;
    padding-top: 20px;
}
.tech-container {
    display: flex;
    flex-direction: column;
}
.design {
    padding: 24px 24px;
    border-radius: 24px;
    max-width: 400px;
    display: inline-block;
    justify-content: center;
    align-items: center;
}

.design h3 {
    font-size: 22px;
}

/* FEATURED RELATED STYLE */
.feature {
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap:30px ;
    align-items: center;
    justify-content: center;
}

.feature-title {
    color: white;
    font-size: 2rem;
    margin: 20px 0;                                                 ;
}

/* CHALLENGE STYLE */
 .host {
      flex-direction: column;
      text-align: center;
      padding: 24px;
      border-radius: 30px;
  }

  .host-image img {
      width: 140px;
      height: auto;
  }

  .host-name {
      font-size: 1.6rem;
  }

  .h-p {
      font-size: 14px;
      line-height: 1.6;
  }

  .host-logo {
      justify-content: center;
  }

  .social-circle {
      width: 50px;
      height: 50px;
  }

  .social-circle img {
      width: 24px;
      height: 24px;
  }

  /* FOOTER SECTION  */
   .footer-logo {
      font-size: 2.2rem;
      margin-bottom: 2%;
      position: relative;
      top: -30px;
  }

  .footer-platforms {
      flex-wrap: wrap;
      gap: 16px;
  }


  .platform {
      font-size: 12px;
  }
  .platform img {
    width: 20px;
  }
  .footer-copy {
      font-size: 11px;
  }
}



