*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* hide checkbox */
#menu-toggle {
  display: none;
}

/* hamburger hidden on desktop */
.hamburger {
  display: none;
  cursor: pointer;
}

.hamburger img {
  width: 24px;
  height: 24px;
}
.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

/* nav related style */
.nav-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #412567;
    padding: 16px 5%;
}

.menu {
    display: flex;
    gap: 32px;
    
}

.menu a {
    text-decoration: none;
    color: white;
}
.logo {
    font-size:clamp(1.8rem,4vw,3rem);
    color: white;
    font-weight: 700;
}

.wave {
   background: linear-gradient(to right, #ff2bdc, #7a5cff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.btn {
 background: var(--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1)));

  color: #ffffff;
  border: none;
  padding: 14px 28px;
  border-radius: 999px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;

  display: inline-flex;
  align-items: center;
  gap: 10px;
}

  /* Hero section related style */
  .hero {
    background-image: url(./hero-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    max-width: max-content;
    padding-top: 80px;

  }
  .hero-content {
    max-width: 100%;
    padding: 24px 16px;
    /* display: flex;
    flex-direction: column; */
    align-items: center;
    text-align: center;
    gap: 16px;
  }
  .hero-image {
    max-width: 100px;
    margin-top: 0px;

  }
 .hero-title {
    font-size: 40px;
    font-weight: 900;
    color: #ffffff;
    margin-top: 24px;
 }
.hero-description {
    font-size: 16px;
    color: #ffffff9f;
    font-weight: 400;
    margin-top: 8px;
}
.hero-btn {
     background: var(--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1)));

  color: #ffffff;
  border: none;
  padding: 14px 28px;
  border-radius: 999px;
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  gap: 10px;
  margin-right: 10px;
}
.hero-btn-two {
    background-color: rgba(255, 255, 255, 0);
    color: #00FF88;
    padding:12px 28px ;
    gap: 8px;
    border-radius: 999px;
    display: inline-flex;
    align-items: center;
    border: 1px solid #00FF88;
    font-size: 16px;
}
.hero-button {
    display: flex;
    margin-top: 24px;
}



/* Small Device */
@media  screen and (max-width:576px) {
    *{
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    /* Nav Section related style */
   .hamburger {
    display: block; 
  }

  .menu {
    display: none;
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    margin-top: 16px;
  }

  /* open menu when hamburger clicked */
  #menu-toggle:checked ~ .menu {
    display: flex;
  }

  .subscribe {
    display: none;
  }

  /* Hero section related style */
  .hero {
    background-image: url(./hero-bg.png);
    background-size: ;
    background-repeat: no-repeat;
    background-position: center top;
    padding-top: 80px;
    box-sizing: border-box;

  }
  .hero-content {
    max-width: 100%;
    padding: 24px 16px;
    /* display: flex;
    flex-direction: column; */
    align-items: center;
    text-align: center;
    gap: 16px;
  }
  .hero-image {
    max-width: 100px;
    margin-top: 0px;

  }
 .hero-title {
    font-size: 40px;
    font-weight: 900;
    color: #ffffff;
    margin-top: 24px;
 }
.hero-description {
    font-size: 16px;
    color: #ffffff9f;
    font-weight: 400;
    margin-top: 8px;
}
.hero-btn {
     background: var(--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1)));

  color: #ffffff;
  border: none;
  padding: 14px 28px;
  border-radius: 999px;
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  gap: 10px;
  margin-right: 10px;
}
.hero-btn-two {
    background-color: rgba(255, 255, 255, 0);
    color: #00FF88;
    padding:12px 28px ;
    gap: 8px;
    border-radius: 999px;
    display: inline-flex;
    align-items: center;
    border: 1px solid #00FF88;
    font-size: 16px;
}
.hero-button {
    display: flex;
    margin-top: 24px;
}
}

